<!DOCTYPE html>
<html>
<head>
  <title>Spitter</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<div class="col-xs-3">
		  <%= link_to root_path, :class => 'logo' do %>
			<div class="circle">
  			  <br />
  			  You know
  			  <br />
  			  you need
  			  <br />
  			  to code!
			</div>
		  <% end %>
		</div>
		<div class="col-xs-4 slogan">
			Spittin' out quotes randomly generated from our database!
		</div>
		<div class="col-xs-5 links">
			<%= link_to 'Contribute', new_quote_path %>
			<%= link_to 'About', '#' %>
		</div>
	</header>
	<hr />   <!-- This is adding a horizontal rule underneath the header to separate it cleanly -->
		     <!-- hr {clear:both;} had to be added to css page to clear out the bootstrap columns-->

	<br class="clear" />

	<div class="container">
	  <%= yield %>
	</div>

	<div class="footer">
	  <div class="container">
	    <div class="col-sx-6">
	      <%= link_to "Make money money make!! $$$$$$$", root_path, :class => 'next-quote' %>
	    </div>
	    
	    <div class="col-xs-6 footer-blurb">
	      <a href="http://www.urbandictionary.com/define.php?term=grindin">Keep Grindin'!</a><br />
	    	This is my first Ruby on Rails app - 'Deelowstylez'
	    </div>
	  </div>
	</div>

</body>
</html>
